<footer class="footer">
    <div class="footer-container">
      <!-- Contact Information -->
      <div class="contact-info">
        <p>
          📧 Email: 
          <a href="mailto:anwesha223893&#64;gmail.com">anwesha223893&#64;gmail.com</a>
        </p>
        <p>
          💼 LinkedIn: 
          <a href="https://www.linkedin.com/in/anweshabandyopadhyay/" target="_blank">
            LinkedIn Profile
          </a>
        </p>
      </div>
      <!-- Copyright -->
      <p class="footer-text">© {{ currentYear }} Anwesha Bandyopadhyay. All rights reserved.</p>
    </div>
  </footer>
  