<div class="skills-cards">
  <div class="card">
    <h2>Programming Languages</h2>
    <ul>
      <li *ngFor="let language of ('skills.language' | translate)">{{ language }}</li>
    </ul>
  </div>

  <div class="card">
    <h2>Frontend Technologies</h2>
    <ul>
      <li *ngFor="let tech of ('skills.frontendTechnologies' | translate)">{{ tech }}</li>
    </ul>
  </div>

  <div class="card">
    <h2>Backend Technologies</h2>
    <ul>
      <li *ngFor="let tech of ('skills.backendTechnologies' | translate)">{{ tech }}</li>
    </ul>
  </div>

  <div class="card">
    <h2>Tools & Libraries</h2>
    <ul>
      <li *ngFor="let tool of ('skills.tools' | translate)">{{ tool }}</li>
    </ul>
  </div>
</div>
